Clients/PythonAPI/DbsDatasetService.wsdl.xml

<?xml version="1.0"?>

<definitions name="DbsDatasetService" 
targetNamespace="http://DBS_WEB_SERVER_ADDRESS/sam_web_services/wsdl/DbsDatasetService.wsdl" 
xmlns:tns="http://DBS_WEB_SERVER_ADDRESS/sam_web_services/wsdl/DbsDatasetService.wsdl" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <schema 
    targetNamespace="http://DBS_WEB_SERVER_ADDRESS/sam_web_services/wsdl/DbsDatasetService.wsdl" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">


      <complexType name="ArrayOfString">
	<complexContent>
	  <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="DbsFile">
        <xsd:sequence>
          <xsd:element name="logicalFileName" type="xsd:string"/>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="checkSum" type="xsd:string"/>
          <xsd:element name="fileType" type="xsd:string"/>
          <xsd:element name="fileStatus" type="xsd:string"/>
          <xsd:element name="fileBlockId" type="xsd:int"/>
          <xsd:element name="fileSize" type="xsd:int"/>
        </xsd:sequence>
      </complexType>

      <complexType name="ArrayOfDbsFile">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns:DbsFile[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="DbsEventCollection">
        <xsd:sequence>
          <xsd:element name="collectionId" type="xsd:int"/>
          <xsd:element name="collectionName" type="xsd:string"/>
          <xsd:element name="numberOfEvents" type="xsd:int"/>
          <xsd:element name="collectionIndex" type="xsd:int"/>
          <xsd:element name="parentageType" type="xsd:string"/>
          <xsd:element name="runNumber" type="xsd:int"/>
          <xsd:element name="isPrimary" type="xsd:string"/>
          <xsd:element name="processedDatasetName" type="xsd:string"/>
          <xsd:element name="parentEventCollection" type="tns:DbsEventCollection"/>
          <xsd:element name="fileList" type="tns:ArrayOfDbsFile"/>
        </xsd:sequence>
      </complexType>

      <complexType name="ArrayOfDbsEventCollection">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns:DbsEventCollection[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="DbsFileBlock">
        <xsd:sequence>
          <xsd:element name="blockName" type="xsd:string"/>
          <xsd:element name="blockId" type="xsd:int"/>
          <xsd:element name="blockStatusName" type="xsd:string"/>
          <xsd:element name="numberOfBytes" type="xsd:int"/>
          <xsd:element name="numberOfFiles" type="xsd:int"/>
          <xsd:element name="processedDatasetName" type="tns:string"/>
          <xsd:element name="eventCollectionList" type="tns:ArrayOfDbsEventCollection"/>
        </xsd:sequence>
      </complexType>

      <complexType name="ArrayOfDbsFileBlock">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns:DbsFileBlock[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="DbsDataset">
        <xsd:sequence>
          <xsd:element name="datasetName" type="xsd:string"/>
          <xsd:element name="datasetPath" type="xsd:string"/>
          <xsd:element name="dataType" type="xsd:string"/>
          <xsd:element name="dataTier" type="xsd:string"/>
        </xsd:sequence>
      </complexType>

      <complexType name="ArrayOfDbsDataset">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns:DbsDataset[]"/>
          </restriction>
        </complexContent>
      </complexType>


      <complexType name="DbsMonteCarloDescription">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="production" type="xsd:string"/>
          <xsd:element name="isMcData" type="xsd:string"/>
          <xsd:element name="decayChain" type="xsd:string"/>
        </xsd:sequence>
      </complexType>

      <complexType name="DbsPrimaryDataset">
        <xsd:sequence>
          <xsd:element name="datasetDescription" type="xsd:string"/>
          <xsd:element name="triggerDescription" type="xsd:string"/>
          <xsd:element name="physicsGroupName" type="xsd:string"/>
          <xsd:element name="monteCarloDescription" type="tns:DbsMonteCarloDescription"/>
        </xsd:sequence>
      </complexType>

      <complexType name="DbsApplication">
        <xsd:sequence>
          <xsd:element name="version" type="xsd:string"/>
          <xsd:element name="family" type="xsd:string"/>
          <xsd:element name="executable" type="xsd:string"/>
          <xsd:element name="configConditionsVersion" type="xsd:string"/>
          <xsd:element name="parameterSet" type="xsd:string"/>
          <xsd:element name="inputTypeName" type="xsd:string"/>
          <xsd:element name="outputTypeName" type="xsd:string"/>
        </xsd:sequence>
      </complexType>

      <complexType name="DbsProcessingPath">
        <xsd:sequence>
          <xsd:element name="pathId" type="xsd:int"/>
          <xsd:element name="dataTier" type="xsd:string"/>
          <xsd:element name="fullPath" type="xsd:string"/>
          <xsd:element name="application" type="tns:DbsApplication"/>
          <xsd:element name="parentPath" type="tns:DbsProcessingPath"/>
        </xsd:sequence>
      </complexType>

      <complexType name="DbsProcessedDataset">
        <xsd:sequence>
          <xsd:element name="primaryDatasetName" type="xsd:string"/>
          <xsd:element name="isDatasetOpen" type="xsd:string"/>
          <xsd:element name="processingPath" type="tns:DbsProcessingPath"/>
        </xsd:sequence>
      </complexType>

    </schema>
  </types>

  <message name="getDatasetContentsRequest">
    <part name="datasetPathName" type="xsd:string"/>
    <part name="listFiles" type="xsd:boolean"/>
  </message>

  <message name="getDatasetContentsResponse">
    <part name="fileBlockList" type="tns:ArrayOfDbsFileBlock"/>
  </message>

  <message name="getDatasetContentsFault">
    <part name="faultstring" type="xsd:string"/>
  </message>

  <message name="getDatasetProvenanceRequest">
    <part name="datasetPathName" type="xsd:string"/>
    <part name="dataTierList" type="tns:ArrayOfString"/>
  </message>

  <message name="getDatasetProvenanceResponse">
    <part name="datasetParentList" type="tns:ArrayOfDbsDataset"/>
  </message>

  <message name="getDatasetProvenanceFault">
    <part name="faultstring" type="xsd:string"/>
  </message>


  <message name="createPrimaryDatasetRequest">
    <part name="primaryDataset" type="tns:DbsPrimaryDataset"/>
  </message>

  <message name="createPrimaryDatasetResponse">
    <part name="primaryDatasetId" type="xsd:int"/>
  </message>

  <message name="createPrimaryDatasetFault">
    <part name="faultstring" type="xsd:string"/>
  </message>

  <message name="createProcessedDatasetRequest">
    <part name="processedDataset" type="tns:DbsProcessedDataset"/>
  </message>

  <message name="createProcessedDatasetResponse">
    <part name="processedDatasetId" type="xsd:int"/>
  </message>

  <message name="createProcessedDatasetFault">
    <part name="faultstring" type="xsd:string"/>
  </message>

  <message name="insertEventCollectionsRequest">
    <part name="processedDataset" type="tns:DbsProcessedDataset"/>
    <part name="eventCollectionList" type="tns:ArrayOfDbsEventCollection"/>
  </message>

  <message name="insertEventCollectionsResponse">
  </message>

  <message name="insertEventCollectionsFault">
    <part name="faultstring" type="xsd:string"/>
  </message>

  <message name="createFileBlockRequest">
    <part name="processedDataset" type="tns:DbsProcessedDataset"/>
    <part name="fileBlock" type="tns:DbsFileBlock"/>
  </message>

  <message name="createFileBlockResponse">
    <part name="fileBlockId" type="xsd:int"/>
  </message>

  <message name="createFileBlockFault">
    <part name="faultstring" type="xsd:string"/>
  </message>



  <message name="getDatasetFileBlocksRequest">
    <part name="processedDataset" type="tns:DbsProcessedDataset"/>
  </message>

  <message name="getDatasetFileBlocksResponse">
    <part name="fileBlockList" type="tns:ArrayOfDbsFileBlock"/>
  </message>

  <message name="getDatasetFileBlocksFault">
    <part name="faultstring" type="xsd:string"/>
  </message>


  <portType name="DbsDatasetPortType">
    <operation name="getDatasetContents">
      <input message="tns:getDatasetContentsRequest" name="getDatasetContentsRequest"/>
      <output message="tns:getDatasetContentsResponse" name="getDatasetContentsResponse"/>
      <fault message="tns:getDatasetContentsFault" name="getDatasetContentsFault"/>
    </operation>

    <operation name="getDatasetProvenance" parameterOrder="datasetPathName dataTierList">
      <input message="tns:getDatasetProvenanceRequest" name="getDatasetProvenanceRequest"/>
      <output message="tns:getDatasetProvenanceResponse" name="getDatasetProvenanceResponse"/>
      <fault message="tns:getDatasetProvenanceFault" name="getDatasetProvenanceFault"/>
    </operation>


    <operation name="createPrimaryDataset">
      <input message="tns:createPrimaryDatasetRequest" name="createPrimaryDatasetRequest"/>
      <output message="tns:createPrimaryDatasetResponse" name="createPrimaryDatasetResponse"/>
      <fault message="tns:createPrimaryDatasetFault" name="createPrimaryDatasetFault"/>
    </operation>

    <operation name="createProcessedDataset">
      <input message="tns:createProcessedDatasetRequest" name="createProcessedDatasetRequest"/>
      <output message="tns:createProcessedDatasetResponse" name="createProcessedDatasetResponse"/>
      <fault message="tns:createProcessedDatasetFault" name="createProcessedDatasetFault"/>
    </operation>


    <operation name="insertEventCollections">
      <input message="tns:insertEventCollectionsRequest" name="insertEventCollectionsRequest"/>
      <output message="tns:insertEventCollectionsResponse" name="insertEventCollectionsResponse"/>
      <fault message="tns:insertEventCollectionsFault" name="insertEventCollectionsFault"/>
    </operation>

    <operation name="createFileBlock">
      <input message="tns:createFileBlockRequest" name="createFileBlockRequest"/>
      <output message="tns:createFileBlockResponse" name="createFileBlockResponse"/>
      <fault message="tns:createFileBlockFault" name="createFileBlockFault"/>
    </operation>

    <operation name="getDatasetFileBlocks">
      <input message="tns:getDatasetFileBlocksRequest" name="getDatasetFileBlocksRequest"/>
      <output message="tns:getDatasetFileBlocksResponse" name="getDatasetFileBlocksResponse"/>
      <fault message="tns:getDatasetFileBlocksFault" name="getDatasetFileBlocksFault"/>
    </operation>


  </portType>

  <binding name="DbsDatasetBinding" type="tns:DbsDatasetPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getDatasetContents">
      <soap:operation soapAction="getDatasetContents"/>
      <input>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="getDatasetContentsFault">
        <soap:fault name="getDatasetContentsFault" use="encoded" 
        namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </fault>
    </operation>

    <operation name="getDatasetProvenance">
      <soap:operation soapAction="getDatasetProvenance"/>
      <input>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="getDatasetProvenanceFault">
        <soap:fault name="getDatasetProvenanceFault" use="encoded" 
        namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </fault>
    </operation>

    <operation name="createPrimaryDataset">
      <soap:operation soapAction="createPrimaryDataset"/>
      <input>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="createPrimaryDatasetFault">
        <soap:fault name="createPrimaryDatasetFault" use="encoded" 
        namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </fault>
    </operation>

    <operation name="createProcessedDataset">
      <soap:operation soapAction="createProcessedDataset"/>
      <input>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="createProcessedDatasetFault">
        <soap:fault name="createProcessedDatasetFault" use="encoded" 
        namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </fault>
    </operation>

    <operation name="insertEventCollections">
      <soap:operation soapAction="insertEventCollections"/>
      <input>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="insertEventCollectionsFault">
        <soap:fault name="insertEventCollectionsFault" use="encoded" 
        namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </fault>
    </operation>

    <operation name="createFileBlock">
      <soap:operation soapAction="createFileBlock"/>
      <input>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="createFileBlockFault">
        <soap:fault name="createFileBlockFault" use="encoded" 
        namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </fault>
    </operation>



    <operation name="getDatasetFileBlocks">
      <soap:operation soapAction="getDatasetFileBlocks"/>
      <input>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="getDatasetFileBlocksFault">
        <soap:fault name="getDatasetFileBlocksFault" use="encoded" 
        namespace="DbsDatasetService" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </fault>
    </operation>


  </binding>

  <service name="DbsDatasetService">
    <documentation>DBS Dataset Service provides functionality for retrieving and manipulating dataset information.</documentation>
    <port name="DbsDatasetPort" binding="tns:DbsDatasetBinding">
      <!--soap:address location="http://cmslcgco01.cern.ch:27983"/-->
      <soap:address location="http://cmssrv22.fnal.gov:27985"/>
      <!--soap:address location="http://cmslcgco01.cern.ch:27982"/-->
    </port>
  </service>

</definitions>
