Clients/Python/MS/MSSessionEJB.wsdl

<definitions name='MSSessionEJBBeanService' targetNamespace='http://session.dm.ms.fnal.gov/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://session.dm.ms.fnal.gov/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://session.dm.ms.fnal.gov/' version='1.0' xmlns:tns='http://session.dm.ms.fnal.gov/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='Exception' type='tns:Exception'/>
   <xs:element name='addRequest' type='tns:addRequest'/>
   <xs:element name='addRequestResponse' type='tns:addRequestResponse'/>
   <xs:element name='deleteRequest' type='tns:deleteRequest'/>
   <xs:element name='deleteRequestResponse' type='tns:deleteRequestResponse'/>
   <xs:element name='getRequestById' type='tns:getRequestById'/>
   <xs:element name='getRequestByIdResponse' type='tns:getRequestByIdResponse'/>
   <xs:element name='getRequestByStatus' type='tns:getRequestByStatus'/>
   <xs:element name='getRequestByStatusResponse' type='tns:getRequestByStatusResponse'/>
   <xs:element name='getRequestByUser' type='tns:getRequestByUser'/>
   <xs:element name='getRequestByUserResponse' type='tns:getRequestByUserResponse'/>
   <xs:complexType name='getRequestById'>
    <xs:sequence>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequestByIdResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:request'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='request'>
    <xs:sequence>
     <xs:element minOccurs='0' name='detail' type='xs:string'/>
     <xs:element minOccurs='0' name='dstUrl' type='tns:dbsurl'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='notify' type='xs:string'/>
     <xs:element minOccurs='0' name='path' type='xs:string'/>
     <xs:element minOccurs='0' name='person' type='tns:person'/>
     <xs:element minOccurs='0' name='progress' type='xs:int'/>
     <xs:element minOccurs='0' name='srcUrl' type='tns:dbsurl'/>
     <xs:element minOccurs='0' name='status' type='xs:string'/>
     <xs:element minOccurs='0' name='withForce' type='xs:string'/>
     <xs:element minOccurs='0' name='withParents' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='dbsurl'>
    <xs:sequence>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='url' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='person'>
    <xs:sequence>
     <xs:element minOccurs='0' name='distinguishedName' type='xs:string'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='Exception'>
    <xs:sequence>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequestByUser'>
    <xs:sequence>
     <xs:element minOccurs='0' name='dn' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequestByUserResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:request'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequestByStatus'>
    <xs:sequence>
     <xs:element minOccurs='0' name='status' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequestByStatusResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:request'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='deleteRequest'>
    <xs:sequence>
     <xs:element minOccurs='0' name='srcUrl' type='xs:string'/>
     <xs:element minOccurs='0' name='dstUrl' type='xs:string'/>
     <xs:element minOccurs='0' name='path' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='deleteRequestResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='addRequest'>
    <xs:sequence>
     <xs:element minOccurs='0' name='srcUrl' type='xs:string'/>
     <xs:element minOccurs='0' name='dstUrl' type='xs:string'/>
     <xs:element minOccurs='0' name='path' type='xs:string'/>
     <xs:element minOccurs='0' name='dn' type='xs:string'/>
     <xs:element minOccurs='0' name='withParents' type='xs:string'/>
     <xs:element minOccurs='0' name='withForce' type='xs:string'/>
     <xs:element minOccurs='0' name='notify' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='addRequestResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:request'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='MSSessionEJBWS_getRequestByStatus'>
  <part element='tns:getRequestByStatus' name='getRequestByStatus'></part>
 </message>
 <message name='MSSessionEJBWS_addRequestResponse'>
  <part element='tns:addRequestResponse' name='addRequestResponse'></part>
 </message>
 <message name='MSSessionEJBWS_getRequestByUser'>
  <part element='tns:getRequestByUser' name='getRequestByUser'></part>
 </message>
 <message name='MSSessionEJBWS_getRequestById'>
  <part element='tns:getRequestById' name='getRequestById'></part>
 </message>
 <message name='Exception'>
  <part element='tns:Exception' name='Exception'></part>
 </message>
 <message name='MSSessionEJBWS_addRequest'>
  <part element='tns:addRequest' name='addRequest'></part>
 </message>
 <message name='MSSessionEJBWS_deleteRequestResponse'>
  <part element='tns:deleteRequestResponse' name='deleteRequestResponse'></part>
 </message>
 <message name='MSSessionEJBWS_getRequestByUserResponse'>
  <part element='tns:getRequestByUserResponse' name='getRequestByUserResponse'></part>
 </message>
 <message name='MSSessionEJBWS_getRequestByStatusResponse'>
  <part element='tns:getRequestByStatusResponse' name='getRequestByStatusResponse'></part>
 </message>
 <message name='MSSessionEJBWS_getRequestByIdResponse'>
  <part element='tns:getRequestByIdResponse' name='getRequestByIdResponse'></part>
 </message>
 <message name='MSSessionEJBWS_deleteRequest'>
  <part element='tns:deleteRequest' name='deleteRequest'></part>
 </message>
 <portType name='MSSessionEJBWS'>
  <operation name='addRequest' parameterOrder='addRequest'>
   <input message='tns:MSSessionEJBWS_addRequest'></input>
   <output message='tns:MSSessionEJBWS_addRequestResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='deleteRequest' parameterOrder='deleteRequest'>
   <input message='tns:MSSessionEJBWS_deleteRequest'></input>
   <output message='tns:MSSessionEJBWS_deleteRequestResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='getRequestById' parameterOrder='getRequestById'>
   <input message='tns:MSSessionEJBWS_getRequestById'></input>
   <output message='tns:MSSessionEJBWS_getRequestByIdResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='getRequestByStatus' parameterOrder='getRequestByStatus'>
   <input message='tns:MSSessionEJBWS_getRequestByStatus'></input>
   <output message='tns:MSSessionEJBWS_getRequestByStatusResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='getRequestByUser' parameterOrder='getRequestByUser'>
   <input message='tns:MSSessionEJBWS_getRequestByUser'></input>
   <output message='tns:MSSessionEJBWS_getRequestByUserResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
 </portType>
 <binding name='MSSessionEJBWSBinding' type='tns:MSSessionEJBWS'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='addRequest'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='deleteRequest'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='getRequestById'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='getRequestByStatus'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='getRequestByUser'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='MSSessionEJBBeanService'>
  <port binding='tns:MSSessionEJBWSBinding' name='MSSessionEJBBeanPort'>
   <soap:address location='http://venom.dhcp.fnal.gov:8080/ms-msejb/MSSessionEJB'/>
  </port>
 </service>
</definitions>