Servers/RS2/test/etc/RSSessionEJB.wsdl

<definitions name='RSSessionEJBBeanService' targetNamespace='http://session.dm.rs.fnal.gov/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://session.dm.rs.fnal.gov/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://session.dm.rs.fnal.gov/' version='1.0' xmlns:tns='http://session.dm.rs.fnal.gov/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='Exception' type='tns:Exception'/>
   <xs:element name='addRegistration' type='tns:addRegistration'/>
   <xs:element name='addRegistrationResponse' type='tns:addRegistrationResponse'/>
   <xs:element name='queryRegistrationFindAll' type='tns:queryRegistrationFindAll'/>
   <xs:element name='queryRegistrationFindAllResponse' type='tns:queryRegistrationFindAllResponse'/>
   <xs:element name='queryRegistrationFindByAlias' type='tns:queryRegistrationFindByAlias'/>
   <xs:element name='queryRegistrationFindByAliasResponse' type='tns:queryRegistrationFindByAliasResponse'/>
   <xs:element name='queryRegistrationFindByURL' type='tns:queryRegistrationFindByURL'/>
   <xs:element name='queryRegistrationFindByURLResponse' type='tns:queryRegistrationFindByURLResponse'/>
   <xs:element name='removeRegistration' type='tns:removeRegistration'/>
   <xs:element name='removeRegistrationResponse' type='tns:removeRegistrationResponse'/>
   <xs:complexType name='queryRegistrationFindByAlias'>
    <xs:sequence>
     <xs:element minOccurs='0' name='alias' type='xs:anyType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='queryRegistrationFindByAliasResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:registration'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='registration'>
    <xs:sequence>
     <xs:element minOccurs='0' name='accountName' type='xs:string'/>
     <xs:element minOccurs='0' name='alias' type='xs:string'/>
     <xs:element minOccurs='0' name='creationDate' type='xs:long'/>
     <xs:element minOccurs='0' name='critical' type='xs:string'/>
     <xs:element minOccurs='0' name='dbName' type='xs:string'/>
     <xs:element minOccurs='0' name='dbPort' type='xs:int'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='lastModificationDate' type='xs:long'/>
     <xs:element minOccurs='0' name='nodeName' type='xs:string'/>
     <xs:element minOccurs='0' name='person' type='tns:person'/>
     <xs:element minOccurs='0' name='physicalLocation' type='xs:string'/>
     <xs:element minOccurs='0' name='schemaVersion' type='xs:string'/>
     <xs:element minOccurs='0' name='serverVersion' type='xs:string'/>
     <xs:element minOccurs='0' name='status' type='xs:string'/>
     <xs:element minOccurs='0' name='url' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='person'>
    <xs:sequence>
     <xs:element minOccurs='0' name='contactInfo' type='xs:string'/>
     <xs:element minOccurs='0' name='createdBy' type='xs:long'/>
     <xs:element minOccurs='0' name='creationDate' type='xs:long'/>
     <xs:element minOccurs='0' name='distinguishedName' type='xs:string'/>
     <xs:element minOccurs='0' name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='lastModificationDate' type='xs:long'/>
     <xs:element minOccurs='0' name='lastModifiedBy' type='xs:long'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='Exception'>
    <xs:sequence>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='queryRegistrationFindByURL'>
    <xs:sequence>
     <xs:element minOccurs='0' name='url' type='xs:anyType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='queryRegistrationFindByURLResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:registration'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='queryRegistrationFindAll'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='queryRegistrationFindAllResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:registration'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='removeRegistration'>
    <xs:sequence>
     <xs:element minOccurs='0' name='registration' type='tns:registration'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='removeRegistrationResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='addRegistration'>
    <xs:sequence>
     <xs:element minOccurs='0' name='rIn' type='tns:registration'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='addRegistrationResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:registration'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='RSSessionEJBWebService_queryRegistrationFindByAlias'>
  <part element='tns:queryRegistrationFindByAlias' name='queryRegistrationFindByAlias'></part>
 </message>
 <message name='RSSessionEJBWebService_addRegistrationResponse'>
  <part element='tns:addRegistrationResponse' name='addRegistrationResponse'></part>
 </message>
 <message name='RSSessionEJBWebService_queryRegistrationFindAll'>
  <part element='tns:queryRegistrationFindAll' name='queryRegistrationFindAll'></part>
 </message>
 <message name='RSSessionEJBWebService_addRegistration'>
  <part element='tns:addRegistration' name='addRegistration'></part>
 </message>
 <message name='RSSessionEJBWebService_queryRegistrationFindByURL'>
  <part element='tns:queryRegistrationFindByURL' name='queryRegistrationFindByURL'></part>
 </message>
 <message name='RSSessionEJBWebService_removeRegistrationResponse'>
  <part element='tns:removeRegistrationResponse' name='removeRegistrationResponse'></part>
 </message>
 <message name='Exception'>
  <part element='tns:Exception' name='Exception'></part>
 </message>
 <message name='RSSessionEJBWebService_removeRegistration'>
  <part element='tns:removeRegistration' name='removeRegistration'></part>
 </message>
 <message name='RSSessionEJBWebService_queryRegistrationFindAllResponse'>
  <part element='tns:queryRegistrationFindAllResponse' name='queryRegistrationFindAllResponse'></part>
 </message>
 <message name='RSSessionEJBWebService_queryRegistrationFindByAliasResponse'>
  <part element='tns:queryRegistrationFindByAliasResponse' name='queryRegistrationFindByAliasResponse'></part>
 </message>
 <message name='RSSessionEJBWebService_queryRegistrationFindByURLResponse'>
  <part element='tns:queryRegistrationFindByURLResponse' name='queryRegistrationFindByURLResponse'></part>
 </message>
 <portType name='RSSessionEJBWebService'>
  <operation name='addRegistration' parameterOrder='addRegistration'>
   <input message='tns:RSSessionEJBWebService_addRegistration'></input>
   <output message='tns:RSSessionEJBWebService_addRegistrationResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='queryRegistrationFindAll' parameterOrder='queryRegistrationFindAll'>
   <input message='tns:RSSessionEJBWebService_queryRegistrationFindAll'></input>
   <output message='tns:RSSessionEJBWebService_queryRegistrationFindAllResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='queryRegistrationFindByAlias' parameterOrder='queryRegistrationFindByAlias'>
   <input message='tns:RSSessionEJBWebService_queryRegistrationFindByAlias'></input>
   <output message='tns:RSSessionEJBWebService_queryRegistrationFindByAliasResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='queryRegistrationFindByURL' parameterOrder='queryRegistrationFindByURL'>
   <input message='tns:RSSessionEJBWebService_queryRegistrationFindByURL'></input>
   <output message='tns:RSSessionEJBWebService_queryRegistrationFindByURLResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
  <operation name='removeRegistration' parameterOrder='removeRegistration'>
   <input message='tns:RSSessionEJBWebService_removeRegistration'></input>
   <output message='tns:RSSessionEJBWebService_removeRegistrationResponse'></output>
   <fault message='tns:Exception' name='Exception'></fault>
  </operation>
 </portType>
 <binding name='RSSessionEJBWebServiceBinding' type='tns:RSSessionEJBWebService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='addRegistration'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='queryRegistrationFindAll'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='queryRegistrationFindByAlias'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='queryRegistrationFindByURL'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
  <operation name='removeRegistration'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='Exception'>
    <soap:fault name='Exception' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='RSSessionEJBBeanService'>
  <port binding='tns:RSSessionEJBWebServiceBinding' name='RSSessionEJBBeanPort'>
   <!--soap:address location='http://venom.dhcp.fnal.gov:8080/rs-rsejb/RSSessionEJB'/-->
   <soap:address location='http://cmsdbssrv.cern.ch/rs-rsejb/RSSessionEJB'/>
  </port>
 </service>
</definitions>
